<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="pkg_name" value="asv_perception_segmentation"/>
    <group ns="left_camera">

        <!-- 
            Node to perform image segmentation
            Subscriptions: 
                - /input:   [sensor_msgs/Image] rgb camera image
            Publications:  
                - /image_raw:   [sensor_msgs/Image] segmented image, uint8 grayscale
        -->
        <node name="segmentation" pkg="$(arg pkg_name)" type="segmentation_node.py" required="true" output="screen">
            <remap from="~input" to="/left_camera/rgb_image_correction/output" />
            <rosparam>
                model_path: "/data/arm8imu3_noimu.ckpt-80000"
                <!-- wasr class remapping values [0,255] -->
                obstacle_pixel_value: 128
                water_pixel_value: 64
                sky_pixel_value: 8
            </rosparam>
        </node>

    </group>
</launch>