<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="pkg_name" value="asv_perception_core"/>

    <group ns="left_camera">

        <!-- 
            Node to resize the source rgb camera image into the correct resolution for the localization/object detection pipeline 
            Subscriptions: /input: [sensor_msgs/CompressedImage] original rgb camera image
            Publications:  /output: [sensor_msgs/Image] corrected rgb camera image
        -->
        <node name="rgb_image_correction" pkg="$(arg pkg_name)" type="rgb_correction_node.py" required="true" output="screen">
    
            <remap from="~input" to="/left_camera/image_color/compressed" />
            
            <!-- these values should be a multiple of WaSR- and YOLO-accepted image shape -->
            <rosparam>
                width: 1024
                height: 768
            </rosparam>
        </node>
    </group>
</launch>